@import "constants/constants.scss";

.container {
    width: 100%;
    max-width: 1440px;
    // height: 356px;
    margin: 0 auto;
    padding: 48px 60px;
    background-color: $background;
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {           
            text-align: center;            
        }
        .line {
            width: 100%;
            height: 1px;
            background-color: $border;
            margin: 16px 0 24px;
        }
        .icon_box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 900px;
            gap: 24px;            
        }
    }
    @media screen and (min-width: $mobile_bp) and (max-width: $tablet_bp) {
        padding: 35px;
        .box {
            .icon_box {                
                max-width: 768px;
                width: 100%;
                img {
                    width: 156px;
                    height: auto;
                }
            }
        }
    }
    @media screen and (max-width: $mobile_bp) {
        padding: 20px;
        .box {
            .icon_box {                
                max-width: 768px;
                width: 100%;
                img {
                    width: 156px;
                    height: auto;
                }
            }
        }        
    }
}
