@import "constants/constants.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 424px;
    .text_box {
        display: flex;
        width: 100%;
        min-height: 180px;
        padding: 24px;
        gap: 24px;
        border-radius: 16px;
        background: $secondary;
        .text {
            font-size: 16px;
            color: $text-primary;
            font-weight: 400;
            line-height: normal;
        }
    }
    .text_box_active {
        display: flex;
        width: 100%;
        min-height: 180px;
        padding: 24px;
        gap: 24px;
        border-radius: 16px;
        background: $primary;
        .text {
            font-size: 16px;
            color: $secondary;
            font-weight: 400;
            line-height: normal;
        }
    }
    .triangle {
        margin: -18px 0 24px;
    }
    .name {
        font-size: 20px;
        color: $text-primary;
        font-weight: 700;
        line-height: normal;
        margin: 12px 0 4px;
    }
    .position {
        font-size: 14px;
        color: $text-secondary;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 48px;
    }
}
