@import "constants/constants.scss";

.swiper-pagination-bullet {
    background-color: $primary;
    width: 48px;
    height: 8px;
    border-radius: 4px;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
