$primary: #0397d7;
$secondary: #ffffff;

$text-primary: #231f20;
$text-secondary: #7e8b91;

$border: #d0d5d7;
$background: #f7f8f8;

@mixin button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $light_blue;
    border-radius: 30px;
    cursor: pointer;
}

$full_bp: 1201px;
$tablet_bp: 1200px;
$mobile_bp: 767px;
