$white: #ffffff;
$white_grey: #f7fcff;
$light_blue: #64b6db;
$blue: #238cbb;
$deep_blue: #004874;

$grey: #777777;
$dark_grey: #434343;
$dark: #242424;

$blue_gray: #64b6db;
$white_blue: #ecfaff;
$dark_blue: #092b43;
$footer: #011e32;

@mixin button {
    display: flex;
    justify-content: center;
    align-items: center;    
    background: $light_blue;
    border-radius: 30px;
    cursor: pointer;
}
