$white: #ffffff;
$white_grey: #F7FCFF;
$light_blue: #64B6DB;
$blue: #238CBB;
$deep_blue: #004874;

$grey: #777777;
$dark_grey: #434343;
$dark: #242424;

$blue_gray: #64B6DB;
$white_blue: #ECFAFF;
$dark_blue: #092B43;
$footer: #011E32;