@import "constants/constants.scss";

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 60px;
    background-color: $background;
    border-radius: 16px;
    .box {
        display: flex;
        padding: 48px;
        gap: 48px;
        .accordion_box {
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 100%;
            h2 {
                flex-shrink: 0;
                span {
                    font-weight: 900;
                }
                @media screen and (min-width: $tablet_bp) and (max-width: 1400px) {
                    font-size: 28px;
                    font-weight: 400;
                    line-height: 36px;
                }
            }
            .accordion {
                padding: 16px;
                border-radius: 12px;
                border: 1px solid $border;
                .accordion_item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    min-height: 27px;
                    .accordion_title {
                        font-size: 20px;
                        color: $text-primary;
                        font-weight: 700;
                        line-height: normal;
                    }
                    img {
                        cursor: pointer;
                    }
                }
                .accordion_description {
                    margin-top: 10px;
                    font-size: 14px;
                    color: $text-primary;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
        .resized_image {
            display: none;
        }
    }
    @media screen and (min-width: $tablet_bp) and (max-width: 1400px) {
        .box {
            gap: 20px;
            padding: 48px 0;
            .accordion_box {
                gap: 20px;
                h2 {
                    font-size: 28px;
                    font-weight: 400;
                    line-height: 36px;
                }
            }
            .image {
                height: 550px;
                width: auto;
            }
        }
    }
    @media screen and (min-width: $mobile_bp) and (max-width: $tablet_bp) {
        padding: 0 35px;
        .box {
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            .image {
                display: none;
            }
            .resized_image {
                display: block;
                height: auto;
                width: 100%;
            }
        }
    }
    @media screen and (max-width: $mobile_bp) {
        padding: 0 20px;
        .box {
            flex-direction: column;
            gap: 20px;
            padding: 16px;
            .image {
                display: none;
            }
            .resized_image {
                display: block;
                height: auto;
                width: 100%;
            }
        }
    }
}
