@import "constants/constants.scss";

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 60px;
    .text_box {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        h2 {
            flex-shrink: 0;
            padding: 0 24px;
        }
        .line {
            width: 100%;
            height: 1px;
            background-color: $border;
        }
    }
    .industries {
        display: flex;
        flex-wrap: wrap;
        max-width: 1320px;
        gap: 24px;
        .industries_card {
            display: flex;
            padding: 8px 24px 24px;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            flex: 1 0 0;
            width: 424px;
            border-radius: 16px;
            background: $background;
            h4 {
                color: $text-primary;
                text-align: center;
                font-size: 20px;
                font-weight: 700;
                line-height: normal;
            }
            p {
                color: $text-secondary;
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
    .separator {
        width: 100%;
        height: 16px;
        background-color: $background;
    }
    @media screen and (min-width: $mobile_bp) and (max-width: $tablet_bp) {
        padding: 0 35px;
        .text_box {
            padding: 0 60px;
            margin-bottom: 20px;
        }
        .industries {
            gap: 20px;
            .industries_card {
                width: 339px;
                h4 {
                    font-size: 16px;
                    font-weight: 500;
                }
                img {
                    height: auto;
                    width: 323px;
                }
            }
        }
    }
    @media screen and (max-width: $mobile_bp) {
        padding: 0 20px;
        .text_box {
            margin-bottom: 20px;
            h2 {
                padding: 0 16px;
            }
        }
        .industries {
            gap: 20px;
            .industries_card {
                width: 339px;
                padding: 8px 20px 20px;
                gap: 8px;
                h4 {
                    font-size: 16px;
                    font-weight: 500;
                    margin-top: 12px;
                }
                img {
                    height: auto;
                    width: 323px;
                }
            }
        }
    }
}
