@import "constants/constants.scss";

.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 1440px;
    nav {
        display: flex;
        align-items: center;
        height: 48px;
        margin: 33px 60px;
        a {
            flex-grow: 1;
        }
        .menu {
            a {
                padding: 0 24px;
                margin-left: 16px;
                font-size: 16px;
                color: $secondary;
                font-weight: 500;
            }
            .active {
                font-weight: 900;
            }
        }
        .burger_menu {
            display: none;
            position: relative;
            .burger_menu_box {
                position: absolute;
                top: -28px;
                right: -20px;
                width: 376px;
                height: 100vh;
                flex-shrink: 0;
                background: rgba(0, 0, 0, 0.64);
                backdrop-filter: blur(12px);
                .burger_menu_header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px;
                    margin-bottom: 24px;
                    .burger_menu_logo {
                        flex-shrink: 0;
                    }
                }
                a {
                    display: block;
                    color: $secondary;
                    font-size: 16px;
                    font-weight: 500;
                    margin-left: 20px;
                    line-height: 48px;
                }
            }
        }
    }

    @media screen and (min-width: $mobile_bp) and (max-width: $tablet_bp) {
        nav {
            margin: 33px 35px;
            .menu {
                a {
                    padding: 0 16px;
                    margin-left: 0;
                }
            }
        }
    }
    @media screen and (max-width: $mobile_bp) {
        nav {
            margin: 20px;
            .menu {
                display: none;
            }
            .burger_menu {
                display: block;
            }
        }
    }
}
