@import "constants/constants.scss";

.header {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    nav {
        display: flex;
        align-items: center;
        height: 48px;
        margin: 33px 60px;
        a {
            flex-grow: 1;
        }
        .menu {
            a {
                padding: 0 24px;
                margin-left: 16px;
                font-size: 16px;
                color: $secondary;
                font-weight: 500;
            }
            .active {
                font-weight: 900;
            }
        }
    }

    @media screen and (min-width: $full_bp) {
    }
    @media screen and (max-width: $tablet_bp) {
    }
    @media screen and (min-width: $mobile_bp) and (max-width: $tablet_bp) {
    }
    @media screen and (max-width: $mobile_bp) {
    }
}
