@import "constants/constants.scss";

.header {
    width: 100%;
    background-color: #012239;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        height: 138px;
        margin: 0 auto;
        padding: 0 40px;
        .burger {
            display: none;
        }
        @media (max-width: 1200px) {
            height: 110px;
            padding: 0 35px;
            .logo {
                width: 120px;
            }
            .burger {
                display: block;
                cursor: pointer;
                @media (max-width: 767px) {
                    width: 28px;
                    height: 28px;
                }
            }
        }
        @media (max-width: 767px) {
            height: 69px;
            padding: 0 20px;
            .logo {
                width: 73px;
                height: 26px;
            }
        }
        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            font-size: 22px;
            font-weight: 500;
            color: $white;
            li {
                cursor: pointer;
                margin-left: 60px;
                white-space: nowrap;
            }
            li:last-child {
                @include button;
                width: 189px;
                height: 47px;
                span {
                    width: 98px;                    
                    font-size: 22px;
                    font-weight: 700;
                }
            }
            .active {
                color: $light_blue;
            }
            @media (max-width: 1200px) {
                display: none;
            }
        }
        .burger_menu {
            width: 282px;
            height: 511px;
            background-color: #ecfaff;
            position: absolute;
            top: 0;
            right: 0;
            @media (max-width: 767px) {
                width: 167px;
                height: 301px;
            }
            .burger_container {
                padding: 24px 47px;
                @media (max-width: 767px) {
                    padding: 19px 21px;
                }
                img {
                    cursor: pointer;
                }
            }
            .burger_menu_list {
                list-style-type: none;
                color: $dark;
                padding: 62px 0;
                font-size: 18px;
                font-weight: 700;
                @media (max-width: 767px) {
                    font-size: 12px;
                    padding: 32px 0;
                }
                li {
                    cursor: pointer;
                }
                li:not(:last-child) {
                    margin-bottom: 40px;
                    @media (max-width: 767px) {
                        margin-bottom: 20px;
                    }
                }
                li:last-child {
                    @include button;
                    width: 167px;
                    height: 47px;
                    margin-top: 81px;
                    @media (max-width: 767px) {
                        width: 114px;
                        height: 32px;
                        margin-top: 32px;
                    }
                    span {
                        width: 86px;                        
                        font-size: 22px;
                        font-weight: 700;
                        color: $white;
                        @media (max-width: 767px) {
                            font-size: 10px;
                            text-align: center;
                            
                        }
                    }
                }
            }
        }
        .burger_menu_close {
            display: none;
        }
    }
}
