@import "constants/constants.scss";

.footer {
    width: 100%;
    height: 375px;
    background-color: #012239;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        margin: 0 auto;
        padding: 68px 40px;
        color: $white;
        .logo p {
            color: #c7c7c7;
            font-size: 14px;
            font-weight: 500;
            margin-top: 20px;
        }
        .column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 22px;
            font-weight: 500;
            height: 170px;
            cursor: pointer;
        }
        .lastColumn {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 170px;
            p {
                font-size: 22px;
                font-weight: 500;
            }
            .socials img {
                margin-right: 19px;
            }
            .socials_mobile {
                img {
                    margin-right: 19px;
                }
            }
            .phone {
                display: flex;
                align-items: center;
                a {
                    margin: 3px 0 0 13px;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
            .mail {
                display: flex;
                align-items: center;
                a {
                    margin-left: 13px;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }
    .line {
        border: 1px solid $grey;
        max-width: 1360px;
        margin: 0 auto;
        @media (max-width: 1360px) {
            max-width: 95%;
        }
    }
    .right {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        margin: 24px 0;
        color: #c7c7c7;
    }
    @media screen and (min-width: $full_bp) {
        .container {
            .lastColumn {
                .socials_mobile {
                    display: none;
                }
            }
        }
    }
    @media screen and (min-width: $mobile_bp) and (max-width: $tablet_bp) {
        height: 267px;
        .container {
            padding: 61px 35px 49px;
            .logo p {
                font-size: 12px;
                width: 120px;
            }
            .column {
                font-size: 16px;
                height: 106px;
            }
            .lastColumn {
                height: 106px;
                p {
                    font-size: 16px;
                }
                .phone {
                    display: none;
                }
                .mail {
                    display: none;
                }
            }
        }
        .right {
            font-size: 12px;
            margin: 18px 0;
        }
    }
    @media screen and (max-width: $mobile_bp) {
        height: 192px;
        .container {
            padding: 46px 20px;
            .logo p {
                font-size: 8px;
                width: 88px;
                margin-top: 7px;
            }
            .column {
                font-size: 10px;
                height: 62px;
            }
            .lastColumn {
                height: 62px;
                p {
                    font-size: 10px;
                }
                .phone {
                    display: none;
                }
                .mail {
                    display: none;
                }
                .socials img {
                    margin-right: 8px;
                    width: 14px;
                    height: 14px;
                }
                .socials_mobile {
                    img {
                        margin-right: 8px;
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }
        .right {
            font-size: 8px;
            margin: 11px 0;
        }
    }
}
