@import "constants/constants.scss";

.footer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    .container {
        display: flex;
        align-items: center;
        padding: 48px 60px;
        a {
            flex-grow: 1;
        }
        .menu {
            display: flex;
            align-items: center;
            font-size: 16px;
            color: $text-secondary;
            font-weight: 500;
            line-height: normal;
            min-height: 48px;
            a {
                padding: 0 24px;
                margin-left: 16px;
            }
        }
    }
    .last_box {
        padding: 24px 60px;
        font-size: 18px;
        color: $text-primary;
        font-weight: 400;
        line-height: 22px;
        width: 100%;
        background-color: $background;
        .text_box {
            display: flex;
            align-items: center;
            height: 48px;
            padding: 0px 24px;
            a {
                color: $primary;
            }
        }
    }

    @media screen and (min-width: $mobile_bp) and (max-width: $tablet_bp) {
        .container {
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 35px;
            .menu {
                margin-top: 20px;
                a {
                    margin-left: 0;
                }
            }
        }
    }
    @media screen and (max-width: $mobile_bp) {
        .container {
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 35px;
            .menu {
                flex-direction: column;
                align-items: flex-start;
                margin-top: 20px;
                gap: 20px;
                a {
                    margin-left: 0;
                }
            }
        }
    }
}
